<div class="row well">
  <div class="col-md-1">
  </div>
  <div class="col-md-8">
    <h1><%= @results.count %><%= "+" if @results.count == 100 %> search results:</h1>
    <% @results.each do |game| %>
        <div class="row game-row">
          <div class="col-md-2">
          <% if game['image'] && game['image']['thumb_url'] %>
            <%= image_tag game['image']['icon_url'], class:"img-thumbnail search-img" %>
            <% end %>
          </div>
          <div class="col-md-10">
            <h3 class="title"><%= game['name'] %></h3>
            <p><%= game['deck'] %></p>
            <% if this_game = @all_games.find_by(giant_bomb_game_id: get_id(game)) %>
              <p>
                <small><%= "#{this_game.average_rating} avg. rating - " if this_game.average_rating %><%= this_game.reviews.count %> ratings</small>
              </p>
            <% end %>
            <% if current_user %>
              <% if @my_games.find_by(giant_bomb_game_id: get_id(game)) %>
                <p><span class="glyphicon glyphicon-thumbs-up"></span> In your collection</p>
              <% else %>
                <%= link_to "Add to collection", games_path(game_id:get_id(game)), :method => :post %>
              <% end %>
            <% end %>
          </div>
        </div>

    <% end %>
  </div>
  <div class="col-md-3">
  </div>
</div>




