<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#all" role="tab" data-toggle="tab" class="list-tab">all <span class="badge"><%= @user.games.count %></span></a></a></li>
    <li role="presentation"><a href="#played" role="tab" data-toggle="tab" class="list-tab"><small>played <span class="badge"><%= @user.games_played.count %></span></small></a></li>
    <li role="presentation"><a href="#current" role="tab" data-toggle="tab" class="list-tab"><small>playing-now <span class="badge"><%= @user.games_playing.count %></span></small></a></li>
    <li role="presentation"><a href="#want" role="tab" data-toggle="tab" class="list-tab"><small>to-play <span class="badge"><%= @user.games_want.count %></span></small></a></li>
  </ul>


<!-- Tab panes -->
  <div class="container-fluid">
    <div class="tab-content">
<!-- All games tab -->
      <div role="tabpanel" class="tab-pane active" id="all">
        <br>
        <table class='table table-striped'>
          <%= render 'users/tableheader' %>
          <% @user.games.reverse.each do |game| %>
            <%= render 'users/gamerow', :game => game, :list => :all %>
          <% end %>
        </table>
      </div>
<!-- Played games tab -->
      <div role="tabpanel" class="tab-pane" id="played">
        <br>
        <table class='table table-striped'>
          <%= render 'users/tableheader' %>
          <% @user.games_played.each do |game_id| %>
            <% game = Game.find(game_id) %>
            <%= render 'users/gamerow', :game => game, :list => :played %>            
          <% end %>    
        </table>  
      </div>
<!-- Currently playing tab -->
      <div role="tabpanel" class="tab-pane" id="current">
        <br>
        <table class='table table-striped'>
          <%= render 'users/tableheader' %>
          <% @user.games_playing.each do |game_id| %>
            <% game = Game.find(game_id) %>
            <%= render 'users/gamerow', :game => game, :list => :playing %>
          <% end %>
        </table>
      </div>
<!-- Want to play tab -->
      <div role="tabpanel" class="tab-pane" id="want">
        <br>
        <table class='table table-striped'>
          <%= render 'users/tableheader' %>
          <% @user.games_want.each do |game_id| %>
            <% game = Game.find(game_id) %>
            <%= render 'users/gamerow', :game => game, :list => :want %>            
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>






