<div class="row">
  <div class="col-md-6">
    <h3>Uncategorized games:</h3>

    <% @user.games.each do |game| %>
      <div class="row game-row">
        <div class="col-md-3">
        <% if game['image'] && game['image']['thumb_url'] %>
          <%= image_tag game['image']['thumb_url'], class:"img-thumbnail search-img", width:'175' %>
          <% end %>
        </div>
        <div class="col-md-6">
          <h3 class="title"><%= game['name'] %></h3>
          <p><%= game['deck'] %></p>
          <p>
            Average rating: 
            <% rand(1..5).times do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          </p>
        </div>
        <div class="col-md-3 buttons">
          <div class="btn-group-vertical" role="group">
            <%= button_to "Played", user_path(@user, game_id: game.id, to: :games_played), method: :patch, class: 'btn btn-default btn-block' %>
            <%= button_to "Want to Play", user_path(@user, game_id: game.id, to: :games_want), method: :patch, class: 'btn btn-default btn-block' %>
            <%= button_to "Playing Now", user_path(@user, game_id: game.id, to: :games_playing), method: :patch, class: 'btn btn-default btn-block' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h4>Games Played</h4>
    <% @user.games_played.each do |game_id| %>
      <% game = Game.find(game_id) %>

      <div class="row game-row">
        <div class="col-md-3">
        <% if game['image'] && game['image']['thumb_url'] %>
          <%= image_tag game['image']['thumb_url'], class:"img-thumbnail search-img", width:'175' %>
          <% end %>
        </div>
        <div class="col-md-6">
          <h3 class="title"><%= game['name'] %></h3>
          <p><%= game['deck'] %></p>
          <p>
            Average rating: 
            <% rand(1..5).times do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          </p>
        </div>
        <div class="col-md-3 buttons">
          <div class="btn-group-vertical" role="group">
            <%= button_to "Played", '#', class: 'btn btn-default btn-block' %>
            <%= button_to "Want to Play", '#', class: 'btn btn-default btn-block' %>
            <%= button_to "Playing Now", '#', class: 'btn btn-default btn-block' %>
          </div>
        </div>
      </div>
    <% end %>

    <h4>Games Want</h4>
    <% @user.games_want.each do |game_id| %>
          <% game = Game.find(game_id) %>
      <div class="row game-row">
        <div class="col-md-3">
        <% if game['image'] && game['image']['thumb_url'] %>
          <%= image_tag game['image']['thumb_url'], class:"img-thumbnail search-img", width:'175' %>
          <% end %>
        </div>
        <div class="col-md-6">
          <h3 class="title"><%= game['name'] %></h3>
          <p><%= game['deck'] %></p>
          <p>
            Average rating: 
            <% rand(1..5).times do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          </p>
        </div>
        <div class="col-md-3 buttons">
          <div class="btn-group-vertical" role="group">
            <%= button_to "Played", '#', class: 'btn btn-default btn-block' %>
            <%= button_to "Want to Play", '#', class: 'btn btn-default btn-block' %>
            <%= button_to "Playing Now", '#', class: 'btn btn-default btn-block' %>
          </div>
        </div>
      </div>
    <% end %>

    <h4>Games Playing</h4>
    <% @user.games_playing.each do |game_id| %>
      <% game = Game.find(game_id) %>
      <div class="row game-row">
        <div class="col-md-3">
        <% if game['image'] && game['image']['thumb_url'] %>
          <%= image_tag game['image']['thumb_url'], class:"img-thumbnail search-img", width:'175' %>
          <% end %>
        </div>
        <div class="col-md-6">
          <h3 class="title"><%= game['name'] %></h3>
          <p><%= game['deck'] %></p>
          <p>
            Average rating: 
            <% rand(1..5).times do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          </p>
        </div>
        <div class="col-md-3 buttons">
          <div class="btn-group-vertical" role="group">
            <%= button_to "Played", '#', class: 'btn btn-default btn-block' %>
            <%= button_to "Want to Play", '#', class: 'btn btn-default btn-block' %>
            <%= button_to "Playing Now", '#', class: 'btn btn-default btn-block' %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>