<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#all" role="tab" data-toggle="tab">all  <span class="badge"><%= @user.games.count %></span></a></a></li>
    <li role="presentation"><a href="#played" role="tab" data-toggle="tab">played  <span class="badge"><%= @user.games_played.count %></span></a></li>
    <li role="presentation"><a href="#current" role="tab" data-toggle="tab">currently-playing  <span class="badge"><%= @user.games_playing.count %></span></a></li>
    <li role="presentation"><a href="#want" role="tab" data-toggle="tab">to-play  <span class="badge"><%= @user.games_want.count %></span></a></li>
  </ul>


<div class="row">
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="all">
      <table>
        <tr class="row game-header">
          <th class="col-md-1">Cover</th>
          <th class="col-md-2">Title</th>
          <th class="col-md-2">Developer</th>
          <th class="col-md-2">Publisher</th>
          <th class="col-md-1">avg. rating</th>
          <th class="col-md-2">my rating</th>
          <th class="col-md-2">list</th>
        </tr>
      <% @user.games.reverse.each do |game| %>
      <tr class="row game-row">
        <td class="col-md-1">
          <% if game['image'] && game['image']['thumb_url'] %>
            <%= link_to game_path(game) do %>
            <%= image_tag game['image']['thumb_url'], class:"img-thumbnail search-img" %>
            <% end %>
          <% end %>
        </td>
        <td class="col-md-2">
          <%= link_to game_path(game) do %> 
            <%= game['name'] %>
          <% end %>
        </td>
        <td class="col-md-2">
          Nintendo (Placeholder)
        </td>
        <td class="col-md-2">
          Nintendo (Placeholder)
        </td>
        <td class="col-md-1">
          <%= game.average_rating %>
        </td>
        <td class="col-md-2">
          <% my_rating(game).times do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <% (5-my_rating(game)).times do %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
        </td>
        <td class="col-md-2">
          <div class="btn-group-vertical" role="group">
            <%= button_to user_path(@user, game_id: game.id, to: :games_played), method: :patch, class: 'btn btn-primary btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span> <small class="right">  add to played list</small>
            <% end %>
            <%= button_to user_path(@user, game_id: game.id, to: :games_playing), method: :patch, class: 'btn btn-default btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span><small class="right">  add to playing list</small>
            <% end %>
            <%= button_to user_path(@user, game_id: game.id, to: :games_want), method: :patch, class: 'btn btn-success btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span><small class="right">   add to to-play list</small>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="played">
    <table>
      <tr class="row">
        <th class="col-md-1">Cover</th>
        <th class="col-md-2">Title</th>
        <th class="col-md-2">Developer</th>
        <th class="col-md-2">Publisher</th>
        <th class="col-md-2">avg. rating</th>
        <th class="col-md-3">add to list</th>
       </tr>
    <% @user.games_played.each do |game_id| %>
      <% game = Game.find(game_id) %>
     <tr class="row game-row">
        <td class="col-md-1">
          <% if game['image'] && game['image']['thumb_url'] %>
            <%= image_tag game['image']['thumb_url'], class:"img-thumbnail search-img" %>
          <% end %>
        </td>
        <td class="col-md-2">
          <%= game['name'] %>
        </td>
        <td class="col-md-2">
          Nintento (Placeholder)
        </td>
        <td class="col-md-2">
          Nintendo (Placeholder)
        </td>
        <td class="col-md-2">
          3.5 (Placeholder)
        </td>
        <td class="col-md-3">
          <div class="btn-group-vertical" role="group">
            <%= button_to user_path(@user, game_id: game.id, to: :games_played), method: :patch, class: 'btn btn-primary btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span> <small class="right">  add to played list</small>
            <% end %>
            <%= button_to user_path(@user, game_id: game.id, to: :games_playing), method: :patch, class: 'btn btn-default btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span><small class="right">  add to playing list</small>
            <% end %>
            <%= button_to user_path(@user, game_id: game.id, to: :games_want), method: :patch, class: 'btn btn-success btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span><small class="right">   add to to-play list</small>
            <% end %>
          </div>
        </td>
      </tr>
      
      <% end %>    
      </table>  
    </div>
    <div role="tabpanel" class="tab-pane" id="current">
    <table>
      <tr class="row">
        <th class="col-md-1">Cover</th>
        <th class="col-md-2">Title</th>
        <th class="col-md-2">Developer</th>
        <th class="col-md-2">Publisher</th>
        <th class="col-md-2">avg. rating</th>
        <th class="col-md-3">add to list</th>
      </tr>
    <% @user.games_playing.each do |game_id| %>
      <% game = Game.find(game_id) %>
     <tr class="row game-row">
        <td class="col-md-1">
          <% if game['image'] && game['image']['thumb_url'] %>
            <%= image_tag game['image']['thumb_url'], class:"img-thumbnail search-img" %>
          <% end %>
        </td>
        <td class="col-md-2">
          <%= game['name'] %>
        </td>
        <td class="col-md-2">
          Nintento (Placeholder)
        </td>
        <td class="col-md-2">
          Nintendo (Placeholder)
        </td>
        <td class="col-md-2">
          3.5 (Placeholder)
        </td>
        <td class="col-md-3">
          <div class="btn-group-vertical" role="group">
            <%= button_to user_path(@user, game_id: game.id, to: :games_played), method: :patch, class: 'btn btn-primary btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span> <small class="right">  add to played list</small>
            <% end %>
            <%= button_to user_path(@user, game_id: game.id, to: :games_playing), method: :patch, class: 'btn btn-default btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span><small class="right">  add to playing list</small>
            <% end %>
            <%= button_to user_path(@user, game_id: game.id, to: :games_want), method: :patch, class: 'btn btn-success btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span><small class="right">   add to to-play list</small>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="want">
    <table>
      <tr class="row">
        <th class="col-md-1">Cover</th>
        <th class="col-md-2">Title</th>
        <th class="col-md-2">Developer</th>
        <th class="col-md-2">Publisher</th>
        <th class="col-md-2">avg. rating</th>
        <th class="col-md-3">add to list</th>
      </tr>
    <% @user.games_want.each do |game_id| %>
      <% game = Game.find(game_id) %>
           <tr class="row game-row">
        <td class="col-md-1">
          <% if game['image'] && game['image']['thumb_url'] %>
            <%= image_tag game['image']['thumb_url'], class:"img-thumbnail search-img" %>
          <% end %>
        </td>
        <td class="col-md-2">
          <%= game['name'] %>
        </td>
        <td class="col-md-2">
          Nintento (Placeholder)
        </td>
        <td class="col-md-2">
          Nintendo (Placeholder)
        </td>
        <td class="col-md-2">
          3.5 (Placeholder)
        </td>
        <td class="col-md-3">
          <div class="btn-group-vertical" role="group">
            <%= button_to user_path(@user, game_id: game.id, to: :games_played), method: :patch, class: 'btn btn-primary btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span> <small class="right">  add to played list</small>
            <% end %>
            <%= button_to user_path(@user, game_id: game.id, to: :games_playing), method: :patch, class: 'btn btn-default btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span><small class="right">  add to playing list</small>
            <% end %>
            <%= button_to user_path(@user, game_id: game.id, to: :games_want), method: :patch, class: 'btn btn-success btn-block btn-sm' do %>
              <span class="glyphicon glyphicon-plus left"></span><small class="right">   add to to-play list</small>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    </table>
    </div>
  </div>

  </table>
</div>






