<h2><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}'s Profile" %></h2>

<div class="container">
  <div class="col-md-8 well">
  <p><i>Joined in <%= @user.created_at.strftime('%B %Y') %></i></p>
  <p><%= @user.reviews.count %> ratings (<%= @user.average_rating %> avg)</p>
  <p><%= @user.reviews.where(:body.exists => true).count %> reviews</p>
  </div>
</div>