<!-- Top section -->
<div class="row jumbotron">
  <div class="col-md-3">
    <%= image_tag @gb_data['image']['medium_url'], width:'100%' %>
  </div>
  <div class="col-md-9">
    <h2><%= @gb_data['name'] %></h2>
    <% if @gb_data['original_release_date'] %>
      <h5>Released: <%= @gb_data['original_release_date'].to_datetime.strftime('%B %e, %Y') %></h5>
    <% else %>
      <h5>Release date: <%= "#{@gb_data['expected_release_month']} / #{@gb_data['expected_release_day']}" || @gb_data['expected_release_quarter'] %> / <%= @gb_data['expected_release_year'] %></h5>
    <% end %>
    <p>
      <% @gb_data['platforms'].each do |platform| %>
        <small class="platform"> <%= platform['name'] %> /</small>
      <% end %>
    </p>
    <h4><%= @gb_data['deck']  %></h4>
    <% if current_user %>
      <% if @game && current_user.games.find(@game.id) %>
        <% if @review %>
          <%= link_to "Edit your Review", edit_game_review_path(@game, @review) %>
        <% else %>
          <%= link_to "Write a Review", new_game_review_path(@game) %>
        <% end %>
      <% else %>
        <%= link_to "Add to collection", games_path(game_id:get_id(@gb_data)), :method => :post %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Bottom section -->
<div class="row">
  <!-- Giant bomb data -->
  <div class="col-md-8">
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#details" role="tab" data-toggle="tab">Details</a></li>
        <li role="presentation"><a href="#videos" role="tab" data-toggle="tab">Videos</a></li>
        <li role="presentation"><a href="#images" role="tab" data-toggle="tab">Images</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="details">
          <%= raw @gb_data['description'] %>
        </div>
        <div role="tabpanel" class="tab-pane" id="videos">
          <% @gb_data['videos'].each do |vid| %>
            <%= link_to vid['site_detail_url'] do %>
              <p><%= vid['name'] %></p>
            <% end %>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="images">
          <% @gb_data['images'].each do |img| %>
            <%= image_tag img['thumb_url'], class:'img-thumbnail images' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Reviews -->
  <div class="col-md-4">
    <% if @game %>
      <% @game.reviews.each do |review| %>
        <div class="well">
          <p> <%= review.rating %>
            <% review.rating.times do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% (5-review.rating).times do %>
              <span class="glyphicon glyphicon-star-empty"></span>          
            <% end %>
            - <%= review.user.first_name %>
          </p>
          <h5><%= review.title %></h5>
          <p><%= review.body %></p>
        </div>
        <br>
      <% end %>
    <% end %>
  </div>
</div>