<nav class="navbar navbar-default navbar-inverse">
  <div class="navbar-brand">
    <%= link_to root_path do %>
      <h3 class="navbar-text">GoodGames</h3>
      <% end %>
  </div>
  <% if current_user %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "#{current_user.email}", user_path(current_user), class:"navbar-link" %>
      </li>
      <li>
        <%= link_to "Logout", logout_path, class:"navbar-link right" %>
      </li>
    </ul>
  <% else %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Login", login_path, class:"navbar-link" %> 
      </li>
      <li>
        <%= link_to "Sign up", signup_path, class:"navbar-link right" %>
      </li>
    </ul>
  <% end %>
    <%= form_tag search_results_path, method: :get, class:"navbar-form navbar-right" do %>
    <div class="form-group">
      <%= text_field_tag :query, nil, placeholder:"Search", class:"form-control" %>
    </div>
    <%= submit_tag "Submit", class:"btn btn-default" %>
    <% end %>
</nav>