<nav class="navbar navbar-default navbar-inverse">
    <div class="navbar-header">
      <%= link_to root_path, class:'navbar-brand' do %>
        <span class="big">G</span>ood<span class="big">G</span>ames
      <% end %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
 <div class="collapse navbar-collapse" id="nav-collapse">
<ul class="nav navbar-nav navbar-right">
  <li>
    <%= form_tag search_path, method: :get, class:"navbar-form showing" do %>
    <div class="form-group">
      <%= text_field_tag :query, nil, placeholder:"Search", class:"form-control search-bar" %>
      <%= button_tag class:"btn btn-link search-button" do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    </div>
    <% end %>
  </li>
  <li>
    <% if current_user %>
      <%= link_to user_games_path(current_user), class:'navbar-link' do %>
        My Games (<%= current_user.games.count %>)
      <% end %>
    <% end %>    
  </li>
  <% if current_user %>
    <li class="dropdown">
      <%= link_to "#{current_user.email}", user_path(current_user), class:"navbar-link float-left" %>
      <a href="#" class="dropdown-toggle float-right" data-toggle="dropdown" role="button">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Logout", logout_path %></li>
      </ul>
    </li>
  <% else %>
    <li>
      <%= link_to "Login", login_path, class:"navbar-link" %> 
    </li>
    <li>
      <%= link_to "Sign up", signup_path, class:"navbar-link right" %>
    </li>
  <% end %>
  </ul>
  </div>
</nav>

<%= form_tag search_path, method: :get, class:"form-horizontal hiding" do %>
  <div class="input-group">
    <%= text_field_tag :query, nil, placeholder:"Search", class:"form-control search-bar" %>
    <div class="input-group-btn">
    <%= button_tag class:"btn btn-primary search-button" do %>
      <span class="glyphicon glyphicon-search"></span>
    <% end %>
    </div>
  </div>
  <br>
<% end %>
